{% extends 'myform/base.html' %}

{% block title %}
Tweet Retrieval
{% endblock %}

{% block content %}
<div class = "col-6 my-5">
<label for="tweet">Twitter Thread:</label>
<input type="text" id="tweet" name="tweet">
<input type="submit" value="Submit">
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Selected</th>
        <th>Twitter User</th>
		<th>Tweets</th>
        <th>Tweet URL</th>
      </tr>
    </thead>
    <tbody>
        {% for user in t %}  
        <tr>
            <td><input type="checkbox"></td>
            <td>{{user.twitterUser}}</td>
            <td>{{user.tweet}}</td>
            <td>{{user.tweetURL}}</td>
        </tr>
	    {% endfor %}
	</tbody>
</table>
<div>
    <a class="btn btn-primary" href="/home">Back to home</a>
    <input type="submit" value="Save data to database">
</div>
{% endblock %}